body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

/* Code */
.container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(10, 1fr);
  gap: 15px;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
}

.sidebar {
  grid-area: 2 / 1 / 6 / 4;
}

.nav {
  grid-area: 2 / 4 / 3 / -1;
}

.article {
  grid-area: 3 / 4 / 6 / -1;
}

.footer {
  grid-area: 6 / 1 / 7 / -1;
}